<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{profile}">Back to profile page</a>
</div>

<form method="post" action="/images">
    <div class="list-group" th:each="image : ${images}">
        <br/>
        <div>
            <img th:src="@{'https://firebasestorage.googleapis.com/v0/b/facebook-nadezhda.appspot.com/o/' + ${image.url} + '?alt=media'}"
                 th:height="152" th:width="152"/>
            <br/>
            <td th:text="${image.description}">
            </td>
            <br/>
            <br/>
            <th><b>Post date</b></th>
            <td th:text="${image.imageUploadDate}">
            </td>
            <br/>
            <td th:text="${image.numberOfLikesImage}">
            </td>
            <a th:href="@{likesImage/(imageId=${image.id})}">Like</a>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</form>
</body>
</html>