<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome,</h1>
<h1 sec:authorize="isAuthenticated()" sec:authentication="name"></h1>
<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
<a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>

<h4 th:if="${user != null}" th:text="'Welcome, ' + ${user}"></h4>
<a sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</body>
</html>