<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="upload_image" enctype="multipart/form-data">
        <div class="container">
        <tr>
            <h4>description</h4>
            <input type="text" name="description" />
        </tr>
        <tr>
            <input type="file" name="file"/>
        </tr>
        <tr>
            <input type="submit" name="submit">
        </tr>
        </div>
    </form>
</body>
</html>
