<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{profile}">Back to profile page</a>
</div>

<form method="post" action="/posts">
    <br/>

    <br/>
    <th><b>Posts</b></th>
    <br/>
    <br/>
    <tr th:each="post : ${posts}">
        <td th:text="${post.text}"><b></b>
        </td>
        <br/>
        <td></td>
        <th><b>Post date</b></th>
        <td th:text="${post.postDate}">
        </td>
        <br/>
        <td th:text="${post.numberOfLikes}">
        </td>
        <a th:href="@{likes/(postId=${post.id})}">Like</a>
        <a href="add-comments.html" th:href="@{add_comments/(parentPostId=${post.id})}">Add comment</a>
        <a href="comments.html" th:href="@{comments/(parentPostId=${post.id})}">Comments</a>
        <br/>
        <br/>
        <br/>
    </tr>
</form>
</body>
</html>