<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/profileUpdate}" method="post" th:object="${profile}" enctype="multipart/form-data">

    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" name="username" id="username" placeholder="your name" ></td>
        </tr>
        <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="text" name="email" id="email" placeholder="your email" ></td>
    </tr>
        <tr>
            <td><label for="emailRepeat">Repeat Email:</label></td>
            <td><input type="text" name="emailRepeat" id="emailRepeat" placeholder="confirm email" ></td>
        </tr>
        <tr>
            <td><label for="address">Address:</label></td>
            <td><input type="text" name="address" id="address" placeholder="your address" ></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password" id="password" ></td>
        </tr>
        <tr>
            <td><label for="passwordRepeat">Repeat Password:</label></td>
            <td><input type="password" name="passwordRepeat" id="passwordRepeat"></td>
        </tr>
        <tr>
            <td><label for="age">Age:</label></td>
            <td><input type="number" name="age" id="age" ></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="submit" value="save" /></td>
         </tr>
    </table>
</form>
</body>
</html>