<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:if="${username != null}" th:text="'Welcome, ' + ${username}"></h2>
<img th:if="${userImage == null}" th:src="@{'/defaultImages/defaultProfileImage.png'}" th:height="52"
     th:width="52">
<!--<img th:src="@{${profile.photoImagePath}}" />-->
</form>
<form method="post" action="/photo/save" enctype="multipart/form-data" th:object="${profile}">
    <input type="file" name="image" accept="image/png, image/jpeg"/>
    <input type="submit" value="Upload">
</form>
<h1>Profile details</h1>
<form>
    <tr th:each="profile : ${profiles}">
        <th><b>Email:</b></th>
        <td th:text="${profile.email}">
        </td>
        <br/>
        <th><b>Full name:</b></th>
        <td th:text="${profile.fullName}">
        </td>
        <br/>
        <th><b>Address:</b></th>
        <td th:text="${profile.address}">
        </td>
        <br/>
        <th><b>Age:</b></th>
        <td th:text="${profile.age}">
        </td>
    </tr>
</form>
<div>
    <a th:href="@{profile/update}">Update profile details</a>
</div
<div>
    <a th:href="@{post/add}">Add post</a>
</div>
<div>
    <a th:href="@{posts}">All post</a>
</div>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</body>
</html>