<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/profile/update}" method="post" th:object="${profile}" enctype="multipart/form-data">

    <table>
        <tr>
            <td><label for="fullName">Name:</label></td>
            <td><input type="text" name="fullName" id="fullName" placeholder="your name" required></td>
        </tr>
        <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="text" name="email" id="email" placeholder="your email" required></td>
    </tr>
        <tr>
            <td><label for="repeatEmail">Repeat Email:</label></td>
            <td><input type="text" name="repeatEmail" id="repeatEmail" placeholder="your email" required></td>
        </tr>
        <tr>
            <td><label for="address">Address:</label></td>
            <td><input type="text" name="address" id="address" placeholder="your address" required></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password" id="password" required></td>
        </tr>
        <tr>
            <td><label for="repeatPassword">Repeat Password:</label></td>
            <td><input type="password" name="repeatPassword" id="repeatPassword" required></td>
        </tr>
        <tr>
            <td><label for="age">Age:</label></td>
            <td><input type="number" name="age" id="age" required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="submit" value="save" /></td>
        </tr>
    </table>
</form>
<!--<h1>The cat has got a water. The cat is gray. He is a boy. His name is Pisancho. Pisancho is-->
<!--        teenager. He has got a small house. I and my mum are make it . My granny and my grandpa are cared for him.-->
<!--</h1>-->
</body>
</html>