<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/profile.css}"/>
</head>
<!--<div>-->
<!--    <a th:href="@{profile-update}">Update profile details</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{post/add}">Add post</a>-->
<!--</div>-->
<!--<div>-->
<!--        <a th:href="@{posts}">All posts</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{upload_image}">Add image</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{images}">All images</a>-->
<!--</div>-->
<div>
    <a th:href="@{search}">Search users</a>
</div>
<!--<div>-->
<!--    <a th:href="@{friends}">Friends</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{delete_acount}">Delete account</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{requests}">Requests</a>-->
<!--</div>-->

<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
<div class="container">
    <div class="col-lg-8">
        <div class="panel profile-cover">
            <div class="profile-cover__img">
                <img th:src="@{'https://firebasestorage.googleapis.com/v0/b/facebook-nadezhda.appspot.com/o/' + ${profileDTO.imageUrl} + '?alt=media'}"
                     th:height="152" th:width="152"/>

                <h2 th:if="${username != null}" th:text="'Welcome, ' + ${username}"></h2>
            </div>
            <div class="profile-cover__action bg--img" data-overlay="0.3">
            </div>
            <div class="profile-cover__info">
                <ul class="nav">
                    <form method="post" action="/avatar_upload" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" value="Upload">
                    </form>
                    <form method="post" action="/profile">
                        <tr th:each="profile : ${profileDTO}">
                            <th><b>Email:</b></th>
                            <td th:text="${profile.email}">
                            </td>
                            <br/>
                            <th><b>Full name:</b></th>
                            <td th:text="${profile.fullName}">
                            </td>
                            <br/>
                            <th><b>Address:</b></th>
                            <td th:text="${profile.address}">
                            </td>
                            <br/>
                            </td>
                        </tr>
                    </form>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Activity</h3>
            </div>
            <div class="panel-content panel-activity">
                <form method="post" action="/post/add" class="panel-activity__status">
                    <textarea name="text" placeholder="Share what you've been up to..."
                              class="form-control"></textarea>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Image">
                                <i class="fa fa-image"></i>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-sm btn-rounded btn-info">
                            Post
                        </button>
                    </div>
                </form>

<!--                <div class="activity__list__footer">-->
<!--                    <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>-->
<!--                    <a href="#"> <i class="fa fa-comments"></i>23</a>-->
<!--                    <span> <i class="fa fa-clock"></i>2 hours ago</span>-->
<!--                </div>-->
<!--                </li>-->
                <li>
                    <i class="activity__list__icon fa fa-lightbulb-o"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""/>
                        <a href="#">John Doe</a> bookmarked a page: <a href="#">Awesome Idea</a>
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
<!--                </ul>-->
            </div>
            <div class="panel-content panel-activity">
                <form action="/search" method="post" style="margin:auto;max-width:300px class="panel-activity__status">
                    <input type="text" placeholder="Search.." name="name">
                    <button type="submit" value="Search"><i class="fa fa-search"></i></button>
                </form>
        </div>
    </div>

</div>
</body>
</html>