<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>User Registration - Sign Up</h1>
</div>
<table>
    <form method="post" action="/register">
        <tr>
            <h4>Username</h4>
            <input type="text" name="username"/>
        </tr>

        <tr>
            <h4>Email</h4>
            <input type="email" name="email"/>
        </tr>
        <tr>
            <h4>Password</h4>
            <input type="password" name="password"/>
        </tr>
        <tr>
            <h4>Repeat password</h4>
            <input type="password" name="passwordRepeat"/>
        </tr>
        <tr>
            <h4>Age</h4>
            <input type="number" name="age"/>
        </tr>
        <tr>
            <h4>Address</h4>
            <input type="text" name="address"/>
        </tr>
        <tr>
            <input type="submit" value="Register"/>
        </tr>

    </form>
</table>
</body>
