<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/register">
    <tr>
        <h4>user name</h4>
        <input type="text" name="username"/>
    </tr>

    <tr>
        <h4>email</h4>
        <input type="email" name="email"/>
    </tr>
    <tr>
        <h4>password</h4>
        <input type="password" name="password"/>
    </tr>
    <tr>
        <h4>Repeat password</h4>
        <input type="password" name="passwordRepeat"/>
    </tr>
    <tr>
        <input type="submit" value="Register"/>
    </tr>
</form>
</body>
</html>