<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/images">
    <div class="list-group" class th:each="image : ${images}">
        <br/>
        <div >
            <img th:src="@{'https://firebasestorage.googleapis.com/v0/b/facebook-nadezhda.appspot.com/o/' + ${image.imageUrl} + '?alt=media'}"
                 th:height="52" th:width="52"/>
            <td th:text="${image.description}">
            </td>
            <br/>
            <br/>
        </div>
    </div>
</form>
<!--<form method="post" action="/posts">-->
<!--    <tr th:each="post : ${posts}">-->
<!--        <td th:text="${post.textPost}">-->
<!--        </td>-->
<!--        <br/>-->
<!--        <td></td>-->
<!--        <th><b>Post date</b></th>-->
<!--        <td th:text="${post.postDate}">-->
<!--        </td>-->
<!--        <br/>-->
<!--    </tr>-->
<!--</form>-->

</body>
</html>